body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3b3c41;
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.menu-container {
    padding: 0 0 0 80px;
    background: rgb(0, 0, 0);
    background: linear-gradient(144deg, rgba(41, 41, 41, 0.998) 76%, rgb(34, 34, 34) 100%);
    box-shadow: 5px 5px 5px #151616;
    border-bottom: 3px solid #f39129;
    display: flex;
}


h1 {
    font-size: 36px;
    font-family: 'Rock Salt', cursive;
    color: #f35e19;
    text-shadow: 5px 10px 5px #151616;
}

nav {
    margin: 50px 0 0 20px;
}

.menu {

    display: flex;
}

.menu li {
    text-align: center;
    justify-content: center;
}

.menu li a {
    flex-direction: row;
    display: block;
    width: 100px;
    padding: 10px 20px 10px 20px;
    margin: 0px 15px;
    background-color: #2e2f2f;
    border: 1px solid #f35e19;

    font-size: 16px;
    transition: 0.4;
}

.menu li a:hover {
    background-color: #f04e03;
    box-shadow: 5px 5px 5px #151616;
    border: 1px solid #f04e03;
}

.breadcrumb {
    display: flex;
    font-size: 12px !important;
    color: #ee7b00 !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.breadcrumb li {
    font-size: 12px !important;
    color: #ee7b00 !important;
    margin-right: 15px;
}

.breadcrumb li a {
    font-size: 12px !important;
    color: #ee7b00 !important;
}

h3 {
    margin-top: 40px;
    padding: 0 0 10px 80px;
    font-size: 18px;
    font-weight: 400;
    color: #ebb112;
}

.add-item li a {
    display: block;
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: auto;
    margin: 15px 0 25px 0;
    padding: 30px 50px;
    background-color: #2e2f2f;
    border: 2px solid #ebb112;
    box-shadow: 5px 5px 5px #151616;
}

p {
    color: #ebb112;
}

ul {
    list-style: none;
    line-height: 1.3;
}

ul a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 100%;
    align-items: center;
    z-index: -1;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    flex-direction: row;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 300;
}

footer ul li a {
    color: #ee7b00;
}

.content,
form {
    padding: 0 0 20px 80px;
}

form input,
form select {
    margin: 0 15px;
    background-color: #f7f3ea;
    border: none;
}


td,
tr {
    line-height: 2.0;
    text-align: right;
    padding: 4px;
}

tr label {
    font-weight: 400;
}

small a {
    text-decoration: none;
    color: #ebb112;
    padding: 0 0 0 80px;
}

.buttons {
    display: flex;
    margin-left: 40px;
}



.sub {
    text-align: center;
    padding: 6px 10px 8px 10px;
    margin: 10px;
    color: #f39129;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    background-color: #3b3c41;
    border: 1px solid #f39129;
    transition: 0.4;

}

.sub:hover {
    cursor: pointer;
    color: white;
    background-color: #ee7b00;
    box-shadow: 5px 5px 5px #151616;
}