body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #084d79;
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.menu-container {
    padding: 0 0 0 80px;
    background-color: #053756;
    border-bottom: 6px dotted #f39129;
    box-shadow: 5px 5px 5px #031e30;
    display: flex;
}


h1 {
    font-size: 36px;
    font-family: 'Rock Salt', cursive;
    color: #fff;
    text-shadow: 5px 10px 5px #031e30;
}

nav {
    margin: 50px 0 0 20px;
}

.menu {

    display: flex;
}

.menu li {
    text-align: center;
    justify-content: center;
}

.menu li a {
    flex-direction: row;
    display: block;
    width: 100px;
    padding: 10px 20px 10px 20px;
    margin: 0px 15px;
    border-radius: 3px;
    background-color: #f04e03;
    box-shadow: 5px 5px 5px #031e30;
    font-size: 18px;
}

.breadcrumb {
    display: flex;
    font-size: 12px !important;
    color: #ee7b00 !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.breadcrumb li {
    font-size: 12px !important;
    color: #ee7b00 !important;
    margin-right: 15px;
}

.breadcrumb li a {
    font-size: 12px !important;
    color: #ee7b00 !important;
}

h3 {
    margin-top: 40px;
    padding: 0 0 10px 80px;
    font-size: 20px;
    color: #ebb112;
}

.add-item li a {
    display: block;
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: auto;
    margin: 15px 0 25px 0;
    padding: 30px 50px;
    background-color: #053756;
    border: 2px solid #ebb112;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #031e30;
}



p {
    color: #ebb112;
}

ul {
    list-style: none;
    line-height: 1.3;
}

ul a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 100%;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    flex-direction: row;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 300;
}

footer ul li a {
    color: #ee7b00;
}

.content,
form {
    padding: 0 0 20px 80px;


}

form input,
form select {
    border-radius: 3px;
    margin: 0 15px;
    box-shadow: 5px 5px 5px #031e30;

}

td,
tr {
    line-height: 2.0;
    text-align: right;
    padding: 4px;
}

small a {
    text-decoration: none;
    color: #ebb112;
    padding: 0 0 0 80px;
}

.buttons {
    display: flex;
    margin: 40px;
}

.sub a {}

.sub {
    text-align: center;
    padding: 6px 10px 8px 10px;
    margin: 0 10px;
    color: white;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    background-color: #ee7b00;
    border: none;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #031e30;
}

.sub:hover {
    cursor: pointer;
}