{% extends "base.html" %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Start</a></li>
    <li>&gt</li>
    <li><a href="{% url 'categories' %}">Moje listy</a></li>
    <li>&gt</li>
    <li><a href="{% url 'category' pk=object.pk %}">{{ object.name }}</a></li>
    <li>&gt</li>
    <li><a href="{% url 'c_edit' pk=object.pk %}">Zmień nazwę {{ object.name }}</a></li>
</ul>
<form method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <table class="buttons">
        <tr>
            <td><a class="sub" href="{% url 'category' pk=object.pk %}">Anuluj</a></td>
            <td><label>
                    <input class="sub" type="submit" value="Zatwierdź zmiany">
                </label></td>
        </tr>
    </table>

</form>

{% endblock %}