{% extends "base.html" %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Start</a></li>
    <li>&gt</li>
    <li><a href="{% url 'categories' %}">Moje listy</a></li>
    <li>&gt</li>
    <li><a href="{% url 'products' %}">Produkty</a></li>
</ul>
<form method="POST">
    {% csrf_token %}
    <ul>
        {% for p in object_list %}
        <li><input type="checkbox" name="products" value="{{ p.pk }}">&nbsp;<a
                href="{% url 'product' pk=p.pk %}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
    <input class="sub" type="submit" value="Usuń zaznaczone">
</form>

<ul class="buttons">
    <li><a class="sub" href="{% url 'p_add' %}">Dodaj nowy produkt</a></li>

</ul>
{% endblock %}