{% extends "base.html" %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Start</a></li>
    <li>&gt</li>
    <li><a href="{% url 'categories' %}">Moje listy</a></li>
    <li>&gt</li>
    <li><a href="{% url 'products' %}">Produkty</a></li>
    <li>&gt</li>
    <li><a href="{% url 'product' pk=object.pk %}">{{ object.name }}</a></li>
</ul>
{{ object }}

<ul class="buttons">
    <li><a class="sub" href="{% url 'products' %}">Wróć do listy</a></li>
    <li><a class="sub" href="{% url 'p_edit' pk=object.pk %}">Edytuj</a></li>
    <li><a class="sub" href="{% url 'p_delete' pk=object.pk %}">Usuń produkt</a></li>
</ul>


{% endblock %}